
/*--------------------------------------------------------
Footer Navigation styles
---------------------------------------------------------*/

#navfooter 
{
 float:left;
 border-bottom:solid 2px #000;
 width:100%;
 margin:0%;
 padding:.5%;
 
    background: #4a4b4a; /* Old browsers */
    background: -moz-linear-gradient(top,  #4a4b4a 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4b4a), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4a4b4a 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4a4b4a 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4a4b4a 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4a4b4a 0%,#0e0e0e 100%); /* W3C */
   

}    

#navfooter div
{
   display:inline;
}

#navfooter div:hover
{
   background-color:#444;
   
}

#navfooter div h2
{ 
  color:#ff6600;
  font-family:Helvetica;
}

#navfooter ul
{
    margin:0%;
    padding:0%;  
}

#navfooter li 
{
	list-style: none;
	font-size: .8em;
	padding:1%;
	padding-left:0%;
	float:left;
}	

#navfooter a
{
    color:#fff;
}
